<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shcollege.bfitadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bfit_admin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bfit_admin_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BFitAdmin">
        <activity
            android:name=".DeleteDiet"
            android:exported="false" />
        <activity
            android:name=".DeleteWorkout"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:parentActivityName=".ResetPassword" />
        <activity
            android:name=".DietDetails"
            android:exported="false" />
        <activity
            android:name=".WorkoutDetails"
            android:exported="false" />
        <activity
            android:name=".AddWorkout"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutHome"
            android:exported="false" />
        <activity
            android:name=".DietHome"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AddDiet"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.BFitAdmin" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>